.red-font{
    color: red;
}

.green-font{
    color:green;
}

.text-overline{
        text-decoration: overline;
}
.text-underline{
        text-decoration: underline;
}
.text-strike-through{
        text-decoration: line-through;            
}

.align-left{
    text-align: left;}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;}

body {
  background-color: lightblue;
}
